.Player-Skill-Container {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.Player-Skill-Container-Picked-Skills {
    display: flex;
    gap: 3px;

}

.player-skill-predict-label {
    transform: rotate(180deg);
    text-orientation: inherit;
    writing-mode: tb;
    vertical-align: middle;
    line-height: 30px;
    padding: 0;

}

.Player-Skill-Title {
    color: darkgray;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

