.Draft-board {
    margin-top: 50px;
    padding-right: 50px;
    width: 100vw;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Draft-board > div {
    gap: 10px;
}

.Draft-board-player {
    display: flex;
    flex-direction: column;
    order:5;
}

.Draft-board-left {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    order: 1;
}

.Draft-board-center {
    display: flex;
    flex-direction: column;
    order: 2;
}

.Draft-board-right {
    display: flex;
    flex-direction: column;
    order: 3;
    margin-right: 40px;
}

.Draft-board-overview {
    display: flex;
    flex-direction: column;
    order: 4;
}
@media only screen and (max-width: 600px) {
    .Draft-board {
        display: none;
    }
}