:root {
  --bg-light:#383c48;
  --bg-dark: #16171a;
  --bg-dark-transparent: rgba(22, 23, 26, .5);
  --bg-norm: #212226;
  width: max-content;
}


.App {
  text-align: center;
  min-width: 1800px;
  /* width: 100%; */
  min-height: 1000px;
  background: radial-gradient(#383c48, #101318);
  height: fit-content;
  color: darkgray
}

.bp4-dark .bp4-menu {
  background-color: var(--bg-dark);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pick-container-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  gap: 4px;
padding: 7px;
}

.picked-container-content {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
  gap: 8px;
  justify-content: center;
  padding: 10px 10px;
}

.stat-container-content {
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: auto auto;
  padding-top: 10px;
  padding-bottom: 10px;
}