:root {
  --bg-light:#383c48;
  --bg-dark: #16171a;
  --bg-norm: #212226;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pick-container-content {
  display: grid;
  grid-template-rows: repeat(6,75px);
  grid-template-columns: 50% 50%;
  padding-bottom: 10px;
}

.picked-container-content {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 15px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.survival-container-content {
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: auto auto;
  padding-top: 10px;
  padding-bottom: 10px;
}